{% extends 'base.html' %}
{% block page_content %}
{% load static%}


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion"" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-sms"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Normalize</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="fas fa-fw fa-home"></i>
                <span>Beranda</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'data' %}">
                <i class="fas fa-fw fa-database"></i>
                <span>Data</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'proses' %}">
                <i class="fas fa-fw fa-spinner"></i>
                <span>Preproses</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'normalisasi' %}">
                <i class="fab fa-fw fa-cloudsmith"></i>
                <span>Normalisasi</span></a>
        </li>

        <li class="nav-item  active">
            <a class="nav-link" href="{% url 'upload' %}">
                <i class="fas fa-fw fa-file"></i>
                <span>Upload File</span></a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="akurasi.html">
                <i class="fas fa-fw fa-percentage"></i>
                <span>Akurasi</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="ujidata.html">
                <i class="fas fa-fw fa-align-center"></i>
                <span>Uji Data</span></a>
        </li> -->

    </ul>
    <!-- End of Sidebar -->


            <!-- Content Wrapper -->
            <div id="content-wrapper" >
    
                <!-- Main Content -->
                <div id="content">
    
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
    
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
    
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Mayang Dyah Azurah</span>
                                    <i class="fas fa-smile rotate-n-15"></i>
                            </li>
    
                        </ul>
    
                    </nav>
                    <!-- End of Topbar -->

                </div>
<!-- End of Page Wrapper -->

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h1 class="page-title"> Normalisasi Data</h1>
              <div class="row">
                      <div class="col-lg-12">
                          <hr>
                          <section id="about">
                              <br></br>
                              <br></br>
                            
                              <div class="container">
                                <div class="row">
                                  <div class="col-lg-12 mx-auto" style="text-align:center;">
                                    <div class="card">
                                        <br><br>
                                        <form  method="POST" enctype = "multipart/form-data">
                                            {% csrf_token %}
                                                <input type = "file" name = "file" />
                                                <input type = "submit" class="btn btn-secondary btn-sm" value= "Proses"/>
                                            </form>
                                            <br><br>
                                    </div>
                                    <br></br>
                                       <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <i class="fa fa-table"></i> Data
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <table width="100%" class="table table-bordered table-hover table-responsive" id="dataTables-example">
                                                <thead class="table-active">
                                                    <tr>
                                                      <th>Kateglo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  {% for pair in result %}
                                                  <tr>
                                                  <td>{{pair}}</td>
                                                  </tr>
                                                  {% endfor %}
                                                </tbody>
                                            </table>
                                            <!-- /.table-responsive -->
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                              <br></br>
                            </section>
                          <!-- /.panel -->
                     
                      <!-- /.col-lg-12 -->
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- partial -->
  </div>
    

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy;2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

{% endblock %}